/* TailwindCSS Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-transform: uppercase;
}

/* Body Styles */
body {
  background: white;
  font-family: var(--font-name);
  line-height: 1.6;
}

/* Link Styles */
a {
  text-decoration: none;
  color: var(--link-color);
}

/* Heading Styles */
h1,
h2 {
  color: var(--heading-color);
  font-size: 2rem;
  font-weight: bold; /* Add Tailwind class to make bold if necessary */
}

/* Section Styles */
section {
  padding: 60px 0;
}

/* Container for Content */
.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

/* Description Style */
.description {
  color: var(--small-text-color);
  line-height: 30px;
  font-size: 0.9rem;
}

/* Subtitle Style */
.subtitle {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 20px;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height for horizontal scrollbars */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: none; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
}

/* Thumb (the scrolling handle) */
::-webkit-scrollbar-thumb {
  background: #162f93; /* Darker gray for the thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Hover effect for the thumb */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

/* Firefox-specific styling */
.scrollable-container {
  scrollbar-width: thin; /* Makes scrollbar thinner */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

/* Responsive Design for Smaller Screens */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding: 40px 0;
  }
}

/* Add any other custom styles needed for your layout */
